<blockquote class="quote">
	<p class="quote__text">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nihil neque
		cum, facilis possimus numquam recusandae iusto suscipit ipsa voluptatem vero
		soluta, ut velit, totam officiis! Iste adipisci ratione sint?
	</p>
	<footer>
		<div class="media">
			<div class="media__image">
				<svg class="icon icon--primary">
					<use xlink:href="images/sprite.svg#line"></use>
				</svg>
			</div>
			<div class="media__body">
				<h3 class="media__title quote__author">John Doe</h3>
				<p class="quote__oraganization">Apple Inc.</p>
			</div>
		</div>
	</footer>
</blockquote>
